<div class="container">
  <div class="row">
    <div class=" col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="form-login">
        <h2 class="hidden-xs">Sign up with social network links...</h2>
        <%= render "devise/shared/socialnetworkslinks" %>
        <h2 class="hidden-xs">... Or sign up with the good old way</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true, label: "Prénom" %>
          <%= f.input :last_name, required: true, autofocus: true, label: "Nom" %>
          <%= f.input :phone_number, required: true, autofocus: true, label: "Numéro de téléphone", hint: "Aucun démarchage commercial ne sera fait. Cela nous permet de faciliter les échanges si besoin" %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: "Mot de passe" %>
          <%= f.input :password_confirmation, required: true, label: "Confirmation du mot de passe" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "S'inscrire" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
