<div class="media <%= conversation.messages.last.is_unread?(current_user) ? "unread" : "read" %>">
  <div class="media-left">
    <%= display_avatar_mailbox(conversation.messages.last) %>
<!--     <a href="#">
      <img class="avatar-large" src="https://placehold.it/64x64" alt="...">
    </a> -->
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= conversation.messages.last.sender.first_name %> <br>
      <b>Sujet: </b><i><%= conversation.subject %></i><br>
      <b>Date: </b><small><%=  conversation.messages.last.created_at.strftime("%e %b %Y à %H:%M") %></small>
    </h4>
    <%= truncate conversation.messages.last.body, length: 145 %>
    <%= link_to "Ouvrir", conversation_path(conversation)  %>
    <% if conversation.is_trashed?(current_user) %>
    <%= link_to 'Restaurer', untrash_conversation_path(conversation), method: :post %>
    <% else %>
    <%= link_to 'supprimer', trash_conversation_path(conversation), method: :post,
    data: {confirm: 'Êtes-vous sûr ?'} %>
    <% end %>
  </div>
</div>
