<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <% if current_page?(new_conversation_path) %>
        <%= f.label "Destinataire(s)" %>
        <%= f.select(:recipients, User.all.collect {|p| [ p.email, p.id ] }, {}, { multiple: true , class: "chosen-select form-control"})%>
      <% elsif @coworking.present? && current_page?(coworking_path(@coworking)) %>
        <%= f.hidden_field :recipients, :value => @coworking.user.id %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label "Objet" %>
      <%= f.text_field :subject, placeholder: "Objet", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Ecrivez votre message ici", rows: 4  %>
    </div>
    <%= f.submit "Envoyer", class: "btn btn-success" %>
<% end %>

