<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <!-- user avators can go here -->
        <% avatar_url = message.sender.facebook_picture_url || "https://via.placeholder.com/64x64" %>
        <%= image_tag avatar_url, class: "avatar-large" %>
<!--         <a href="#">
          <img class="avatar-large" src="http://placehold.it/64x64" alt="...">
        </a> -->
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= message.sender.first_name %> <br>
          <b>Sujet: </b><i><%= conversation.subject %></i><br>
          <b>Date: </b><small><%=  conversation.messages.last.created_at.strftime("%e %b %Y à %H:%M") %></small>
        </h4>
        <%= message.body %>
      </div>
    </div>
<% end %>
