<div class="modal fade" id="create-proposition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="create-proposition">Proposition pour <%#= @brief.company_name.upcase %></h5>
        <p><em>Voux pourrez retrouver votre demande dans votre tableau de bord</em></p>
      </div>
      <div class="modal-body">
        <div class="form-demand-new">
          <%= simple_form_for([@brief,@proposition]) do |f| %>
          <h2>Désignation des locaux</h2>
          <%= f.input :workstation_number %>
          <%= f.input :office_surface %>
          <%= f.input :storage_surface %>
          <%= f.input :parking_number %>
          <%= f.input :meeting_room_number %>
          <h2>Conditions générales</h2>
          <%= f.input :lease_start %>
          <%= f.input :workstation_price_per_month %>
          <%= f.input :workstation_price_per_day %>
          <%= f.input :workstation_price_per_hour %>
          <%= f.input :office_rent_per_sqm %>
          <%= f.input :office_charge_per_sqm %>
          <%= f.input :office_taxe_per_sqm %>
          <%= f.input :office_teom_per_sqm %>
          <%= f.input :storage_price_per_sqm %>
          <%= f.input :parking_price_per_unit %>
          <%= f.input :indexation %>
          <%= f.input :deposit %>
          <%= f.input :fiscal_status %>
          <h2>Conditions particulières</h2>
          <%= f.input :lease_duration %>
          <%= f.input :mad_start %>
          <%= f.input :free_rent_in_month %>
          <%= f.input :fitout_allowance_in_month %>
          <h2>Spécificités</h2>
          <%= f.input :other_spec %>
          <div class="modal-footer">
            <%= f.submit "Envoyer ma proposition", class: "btn btn-primary btn-block" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
