<div class="home-footer">
  <div class="container">
    <div class="row">
       <!--  <div class="row"> -->
          <div class="col-xs-12 col-md-4 col-sm-4">
            <%= link_to root_path, class: "footer-logo hidden-xs" do %>
              <%= image_tag "TREJhome.png" %>
            <% end %>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-4">
            <ul class="list-inline text-center">
              <li><%= link_to "Contacts", pages_contact_path, class: "footer-links" %>
              </li>
              <li><%= link_to "Concept", pages_concept_path, class: "footer-links" %>
              </li>
              <li><%= link_to "Tarifs", pages_tarifs_path, class: "footer-links" %>
              </li>
            </ul>
          </div>
      <!--   </div> -->
        <div class="row">
          <div class="col-xs-12">
          <p class="text-center">©TheRealEstateJungle</p>
          </div>
        </div>
      </div>
    </div>
  </div>
