<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "TREJhome.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <!-- Links when logged in -->
    <%= link_to "Recherche spécifique", new_demand_path, class: "navbar-wagon-item-demand navbar-wagon-link-demand tooltips", title: "", data: { toggle: "tooltip", placement: "bottom", original_title: "Vous êtes un grand groupe ou une startup, décrivez en quelques minutes vos besoins, nous vous accompagnons dans votre projet"}  %>
    <%= link_to "Tableau de bord", dashboard_users_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <div class="badge_message">
      <%= link_to "Messagerie", mailbox_inbox_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <p><%=unread_messages_count%></p>
    </div>
    <%#= link_to "Contact", pages_contact_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Proposer un espace", new_coworking_path, class: "navbar-wagon-item-coworking navbar-wagon-link-coworking tooltips", title: "", data: { toggle: "tooltip", placement: "bottom", original_title: "Publiez une annonce en quelques minutes et recevez des demandes qualifiées de startups et grands groupes"}  %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%# avatar_url = current_user.facebook_picture_url || current_user.first_name.upcase  %>
        <% avatar_url = current_user.facebook_picture_url || "default-avatar.jpg" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to edit_user_registration_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to pages_contact_path do %>
            <i class="fa fa-phone"></i>  <%= t(".profile", default: "Contact") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
    <ul class="list-inline">
      <li>
        <%= link_to "Recherche spécifique", new_demand_path, class: "navbar-wagon-item-demand navbar-wagon-link-demand tooltips", title: "", data: { toggle: "tooltip", placement: "bottom", original_title: "Vous êtes un grand groupe ou une startup, décrivez en quelques minutes vos besoins, nous vous accompagnons dans votre projet"}  %>
      </li>
      <li><%= link_to t(".profile", default: "+33 6 17 98 75 96"), pages_contact_path, class: "navbar-wagon-item navbar-wagon-link" %></%></li>
      <li><%= link_to t(".sign_in", default: "S'identifier"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </li>
      <li>
        <%= link_to "Proposer un espace", new_coworking_path, class: "navbar-wagon-item-coworking navbar-wagon-link-coworking tooltips", title: "", data: { toggle: "tooltip", placement: "bottom", original_title: "Publiez une annonce en quelques minutes et recevez des demandes qualifiées de startups et grands groupes"}  %>
      </li>
    </ul>
        <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <% if user_signed_in? %>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to root_path do %>
          <i class="fa fa-home"></i> <%= t(".sign_in", default: "Home") %>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_registration_path do %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_users_path do %>
          <i class="fa fa-list-alt"></i> <%= t(".sign_in", default: "Tableau de bord") %>
          <% end %>
        </li>
        <li>
          <div class="badge_message_dropdown">
          <%= link_to mailbox_inbox_path do %>
          <%= t(".sign_in", default: "Messagerie") %>
          <% end %>
          <p><%=unread_messages_count%></p>
          </div>
        </li>
        <li>
          <%= link_to new_demand_path do %>
          <i class="fa fa-search"></i>  <%= t(".sign_out", default: "Recherche spécifique") %>
            <% end %>
        </li>
        <li>
          <%= link_to new_coworking_path do %>
          <i class="fa fa-building"></i>  <%= t(".sign_out", default: "Proposer un espace") %>
            <% end %>
        </li>
        <li>
          <%= link_to pages_contact_path do %>
          <i class="fa fa-phone"></i>  <%= t(".sign_out", default: "Contact") %>
            <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
        </li>
      </ul>
      <% else %>
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to new_user_session_path do %>
              <i class="fa fa-user"></i> <%= t(".sign_in", default: "S'identifier") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
              <i class="fa fa-home"></i> <%= t(".sign_in", default: "Home") %>
              <% end %>
            <li>
                <%= link_to new_coworking_path do %>
                <i class="fa fa-building"></i>  <%= t(".sign_out", default: "Proposer un espace") %>
                  <% end %>
            </li>
            <li>
              <%= link_to pages_contact_path do %>
              <i class="fa fa-phone"></i>  <%= t(".sign_out", default: "Contact") %>
                <% end %>
              </li>
          </ul>
          <% end %>
    </div>
  </div>
</div>

