<div class="text-center">
<h1><span class="highlight">Votre recherche immobilière</span></h1>
  <p>Le temps estimé pour remplir le formulaire est de 3 minutes</p>
</div>
<br>
<div class="container demand-container">
  <div class="raw">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
      <div class="form-login">
        <%= simple_form_for @demand do |f| %>
        <%= f.label "Que souhaitez-vous faire ?" %>
        <%= f.input :lease, as: :boolean, label: "Louer" %>
        <%= f.input :buy, as: :boolean, label: "Acheter" %>
        <%= f.hint "Cochez les deux cases si vous n'avez pas encore décidé de votre stratégie" %>
        <%= f.input :company_name, placeholder: "Ma société", label: "Quel est le nom de votre société ?", error: "Merci de remplir ce champs pour valider le formulaire" %>
        <%= f.input :lease_budget, placeholder: "150 000", label: "En cas de location, quel est votre budget maximum annuel hors charges et taxes (HC HT) ?", error: "Merci de remplir ce champs pour valider le formulaire" %>
        <%= f.input :buy_budget, placeholder: "1 200 000", label: "En cas d'achat, quel est votre budget hors droits (HD) (environ 8% du prix d'achat) ?", error: "Merci de remplir ce champs pour valider le formulaire" %>
        <%= f.label "Où souhaitez-vous vous implanter ?" %>
        <%= f.input :location_1, label: "Je veux être absolument dans ces quartiers...", collection: Demand::ZONE, error: "Merci de remplir ce champs pour valider le formulaire" %>
        <%= f.input :location_2, label: "...dans ces quartiers pourquoi pas...", collection: Demand::ZONE %>
        <%= f.input :location_3, label: "...mais regardons un peu plus large.", collection: Demand::ZONE %>
        <%= f.input :surface, label: "Quelle surface recherchez-vous ?", error: "Merci de remplir ce champs pour valider le formulaire", placeholder: "500", hint: "La surface SUBL (Surface Utile Brute Locative) représente l'espace comprenant les postes de travail, les salles de réunions, les espaces communs, etc.)." %>
        <%= f.input :workstation_number, label: "De combien de postes de travail avez-vous besoin ?", placeholder: "45", error: "Merci de remplir ce champs pour valider le formulaire", hint: "Un poste de travail représente le bureau d'un collaborateur. Vous pouvez avoir moins de postes que le nombre d'employés (dans le cas d'une politique de bureaux non attribués par exemple)." %>
        <%= f.input :meeting_room_number, label: "De combien de salles de réunions avez-vous besoin ?", placeholder: "3", error: "Merci de remplir ce champs pour valider le formulaire", hint: "Indiquez simplement le nombre idéal, nous ajusterons par la suite la taille des salles dont vous avez besoin pour organiser vos réunions. Ou laissez blanc si vous n'en avez pas besoin." %>
        <%= f.input :parking_number, label: "De combien de places de parking avez-vous besoin ?", placeholder: "3", error: "Merci de remplir ce champs pour valider le formulaire", hint: "Indiquez simplement le nombre idéal ou laissez blanc si vous n'en avez pas l'utilité." %>
        <%= f.input :surface_type, label: "Quel type de surface recherchez-vous ?", collection: Demand::SPACES, error: "Merci de remplir ce champs pour valider le formulaire", hint: "Merci d'indiquer votre préférence." %>
        <!-- simple form date input/no date picker -->
        <%= f.input :move_in_date, label: "A quelle date souhaitez-vous vous installer dans vos nouveaux bureaux ?", placeholder: "DD/MM/YYYY", error: "Merci de remplir ce champs pour valider le formulaire", hint: "Indiquez simplement la date à laquelle vous souhaitez pouvoir commencer à travailler. Nous prendrons en compte des périodes d'aménagement si nécessaire)." %>
        <%= f.input :other_spec, label: "Avez-vous des besoins spécifiques que vous souhaiteriez partager dès maintenant ?", hint: "Un besoin spécifique peut être par exemple: un grand plateau type industriel, une très grande salle de réunion, une terrasse, une contrainte de confidentialité, un besoin en salle serveurs, etc.", placeholder: "Nous recherchons un espace atypique avec une grande hauteur sous plafond..." %>
        <%= f.submit "Envoyer mon cahier des charges", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>


<!-- OTHER VERSION WHICH DOES NOT ROUTE TO CREATE METHODE -->

<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<!-- <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso16.css" /> -->

<!-- Inline CSS based on choices in "Settings" tab -->
<!-- <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: #373942}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .bootstrap-iso .btn-custom{background: #00c29a} .bootstrap-iso .btn-custom:hover{background: #00ae86;}.bootstrap-iso .form-control:focus { border-color: #00c29a;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 194, 154, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 194, 154, 0.6);} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#373942; background-color: #00c29a; border-radius: 4px; padding-left:12px}</style> -->

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->

<!--
<div class="bootstrap-iso">
<br>
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">


    <form method="post">
     <div class="form-group ">
      <label class="control-label requiredField">
       1. Que souhaitez-vous ?
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="">
       <div class="radio">
        <label class="radio">
         <input name="lease_or_buy" type="radio" value="Louer"/>
         Louer
        </label>
       </div>
       <div class="radio">
        <label class="radio">
         <input name="lease_or_buy" type="radio" value="Acheter"/>
         Acheter
        </label>
       </div>
       <div class="radio">
        <label class="radio">
         <input name="lease_or_buy" type="radio" value="Les deux sont envisageables"/>
         Les deux sont envisageables
        </label>
       </div>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="company_name">
       2. Quel est le nom de votre soci&eacute;t&eacute;/startup ?
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="company_name" name="company_name" placeholder="Ma soci&eacute;t&eacute;" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="lease_budget">
       3. En cas de location, quel est votre budget maximum annuel hors charges et taxes (HC HT) ?
      </label>
      <div class="input-group">
       <input class="form-control" id="lease_budget" name="lease_budget" placeholder="150 000" type="text"/>
       <div class="input-group-addon">
        &euro;/an HC HT
       </div>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label " for="buy_buget">
       4. En cas d'achat, quel est votre budget hors droits (HD) (environ 8% du prix d'achat) ?
      </label>
      <div class="input-group">
       <input class="form-control" id="buy_buget" name="buy_buget" placeholder="1 200 000" type="text"/>
       <div class="input-group-addon">
        &euro; HD
       </div>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField">
       O&ugrave; souhaitez-vous vous implanter ?
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class=" ">
       <div class="checkbox">
        <label class="checkbox">
         <input name="location" type="checkbox" value="Paris Centre - Ouest (arr. 1, 2, 8, 9, 16 ou 17)"/>
         Paris Centre - Ouest (arr. 1, 2, 8, 9, 16 ou 17)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="location" type="checkbox" value="Paris Centre - Est (arr. 3, 4, 10, 11 ou 12) "/>
         Paris Centre - Est (arr. 3, 4, 10, 11 ou 12)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="location" type="checkbox" value="Paris Nord (18, 19 ou 20)"/>
         Paris Nord (18, 19 ou 20)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="location" type="checkbox" value="Paris Sud (5, 6, 7, 13, 14 ou 15)"/>
         Paris Sud (5, 6, 7, 13, 14 ou 15)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="location" type="checkbox" value="Croissant Ouest (de Asni&egrave;res &agrave; St-Cloud)"/>
         Croissant Ouest (de Asni&egrave;res &agrave; St-Cloud)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="location" type="checkbox" value="Croissant Est (de Aubervilliers &agrave; Villejuif)"/>
         Croissant Est (de Aubervilliers &agrave; Villejuif)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="location" type="checkbox" value="Deuxi&egrave;me couronne parisienne (ex. Antony, Villepinte, etc.)"/>
         Deuxi&egrave;me couronne parisienne (ex. Antony, Villepinte, etc.)
        </label>
       </div>
       <span class="help-block" id="hint_location">
        Vous pouvez s&eacute;lectionner plusieurs r&eacute;ponses.
       </span>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="surface">
       5. Quelle surface recherchez-vous ?
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="input-group">
       <input class="form-control" id="surface" name="surface" placeholder="500" type="text"/>
       <div class="input-group-addon">
        m2 SUBL
       </div>
      </div>
      <span class="help-block" id="hint_surface">
       La surface SUBL (Surface Utile Brut Locative) repr&eacute;sente l'espace comprenant les postes de travail, les salles de r&eacute;unions, les espaces communs, etc.).
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="workstation_number">
       6. De combien de postes de travail avez-vous besoin ?
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="workstation_number" name="workstation_number" placeholder="50" type="text"/>
      <span class="help-block" id="hint_workstation_number">
       Un poste de travail repr&eacute;sente le bureau d'un collaborateur. Vous pouvez avoir moins de postes que le nombre d'employ&eacute;s (dans le cas d'une politique de bureaux non attribu&eacute;s par exemple).
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label " for="meeting_room_number">
       7. De combien de salles de r&eacute;union avez-vous besoin ?
      </label>
      <input class="form-control" id="meeting_room_number" name="meeting_room_number" placeholder="5" type="text"/>
      <span class="help-block" id="hint_meeting_room_number">
       Indiquez simplement le nombre id&eacute;al, nous ajusterons par la suite la taille des salles dont vous avez besoin pour organiser vos r&eacute;unions. Ou laissez blanc si vous n'en avez pas besoin.
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label " for="parking_number">
       8. De combien de places de parking avez-vous besoin ?
      </label>
      <input class="form-control" id="parking_number" name="parking_number" placeholder="15" type="text"/>
      <span class="help-block" id="hint_parking_number">
       Indiquez simplement le nombre id&eacute;al ou laissez blanc si vous n'en avez pas l'utilit&eacute;.
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField">
       9. Quelle type de surface recherchez-vous
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class=" ">
       <div class="checkbox">
        <label class="checkbox">
         <input name="surface_type" type="checkbox" value="Coworking (espace de travail partag&eacute;)"/>
         Coworking (espace de travail partag&eacute;)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="surface_type" type="checkbox" value="Open space (espace de travail privatis&eacute;)"/>
         Open space (espace de travail privatis&eacute;)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="surface_type" type="checkbox" value="Bureaux cloisonn&eacute;s (espace de travail privatis&eacute; avec bureaux ferm&eacute;s)"/>
         Bureaux cloisonn&eacute;s (espace de travail privatis&eacute; avec bureaux ferm&eacute;s)
        </label>
       </div>
       <div class="checkbox">
        <label class="checkbox">
         <input name="surface_type" type="checkbox" value="Espace mixte (diff&eacute;rents espaces de travail privatis&eacute;s ou non)"/>
         Espace mixte (diff&eacute;rents espaces de travail privatis&eacute;s ou non)
        </label>
       </div>
       <span class="help-block" id="hint_surface_type">
        Vous pouvez en s&eacute;lectionner plusieurs si vous n'&ecirc;tes pas encore d&eacute;termin&eacute;s sur votre choix.
       </span>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="move_in_date">
       10. A quelle date souhaitez-vous vous installer dans vos nouveaux bureaux ?
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="move_in_date" name="move_in_date" placeholder="MM/DD/YYYY" type="text"/>
      <span class="help-block" id="hint_move_in_date">
       Indiquez simplement la date &agrave; laquelle vous souhaitez pouvoir commencer &agrave; travailler. Nous prendrons en compte des p&eacute;riodes d'am&eacute;nagement si n&eacute;cessaire).
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label " for="other_spec">
       11. Avez-vous des besoins sp&eacute;cifiques que vous souhaiteriez partager d&egrave;s maintenant ?
      </label>
      <textarea class="form-control" cols="40" id="other_spec" name="other_spec" placeholder="Nous recherchons un espace atypique avec une grande hauteur sous plafond..." rows="10"></textarea>
      <span class="help-block" id="hint_other_spec">
       Un besoin sp&eacute;cifique peut &ecirc;tre par exemple: un grand plateau type industriel, une tr&egrave;s grande salle de r&eacute;union, une terrasse, une contrainte de confidentialit&eacute;, un besoin en salle serveurs, etc.
      </span>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-custom btn-lg btn-block" name="submit" type="submit">
        Envoyer mon cahier des charges
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div> -->

