<%= render 'shared/banner' %>
<%= content_for(:navbar_class, "navbar-home") %>

<div class="container text-center home-container">
  <div class="text-center title-features">
    <h1><h2 class="highlight">COWORKING</h2> ou <h2 class="highlight">BUREAUX</h2></h1>
  </div>
  <div class="card">
   <div class="col-xs-12 col-sm-6 col-lg-3 image-home">
     <%= image_tag "Download-Computer.svg", alt: "coworking" %>
     <h2 class="offer-title">Recherchez en ligne </h2>
     <p>Consultez les annonces qui correspondent le mieux à vos besoins ! espaces de coworking, bureaux privatisés ou salles de réunions</p>
   </div>
 </div>

 <div class="card">
   <div class="col-xs-12 col-sm-6 col-lg-3 image-home">
     <%= image_tag "Paper-Plane.svg", alt: "coworking" %>
     <h2 class="offer-title">Demandez un devis</h2>
     <p>Remplissez votre cahier des charges et envoyez le directement aux propriétaires des espaces sélectionnés. </p>
   </div>
 </div>
 <div class="card">
   <div class="col-xs-12 col-sm-6 col-lg-3 image-home">
     <%= image_tag "Checklist.svg", alt: "coworking" %>
     <h2 class="offer-title">Comparez</h2>
     <p>Une proposition vous convient ? Nous organisons une visite et vous accompagnons dans la finalisation des accords </p>
   </div>
 </div>

 <div class="card">
  <div class="col-xs-12 col-sm-6 col-lg-3 image-home">
   <%= image_tag "Dna.svg", alt: "coworking" %>
   <h2 class="offer-title">Sur mesure</h2>
   <p>Nous vous accompagnons gratuitement tout au long du projet pour que vous trouviez l'espace de travail et les conditions qui correspondent à votre ADN</p>
 </div>
</div>
<%= link_to pages_concept_path, method: :get, class: 'form-search' do %>
<div class="flexbox">
  <%= submit_tag "Plus de détails sur notre approche", class: "btn btn-primary btn-concept-link", style:"text-decoration:none" %>
</div>
<% end %>
</div>
<div class="container-call-action-2">
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for :coworking, :method => 'get', :html => {:class => 'form-search-banner'}, url: coworkings_path do |f| %>
      <%= f.input_field :address, placeholder: "Où rêvez-vous de travailler ?", class: "search-query" %>
      <%= f.submit "Rechecher", class: "btn btn-primary btn-search", style:"text-decoration:none" %>
      <% end %>
    </div>
  </div>
</div>
<div class="home-background-image" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 0%, rgba(12, 15, 15, 0.5) 80%), url('<%= image_path('parisjungle3.jpg')%>');">
<div class="container">
  <div class="row">


<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6"></div>
      <h2 class="highlight">Besoin d'espaces sur mesure</h2>
      <p>Choisissez votre profil et envoyez-nous votre cahier des charges, un consultant se chargera de trouver pour vous les espaces les mieux adaptés</p>
  </div>
</div>
    <ul class="cards">

      <li class="cards_item">
        <div class="card-company-type">

          <div class="card_image">
            <%= image_tag "Farmer.svg", alt: "startup" %>
          </div>

          <div class="card_content">
            <h2 class="card_heading"><h3 class="highlight">Jeunes pousses</h3></h2>
            <p>Les entrepreneurs, seuls ou avec une petite équipe, font souvent face à la contrainte de la solitude. Louer des bureaux représente un budget conséquent et avoir une compréhension claire du marché de l'<strong>immobilier d'entreprise</strong> n'est pas chose facile. Il existe beaucoup de solutions permettant de limiter les investissements (<strong>Coworking</strong> ou <strong>sous-location</strong> par exemple) et de bénéficier de services inclus.</p>
            <%= link_to new_demand_path, method: :get, class: 'form-search' do %>
            <div class="flexbox">
              <%= submit_tag "TROUVER MES PREMIERS BUREAUX", class: "btn btn-primary btn-banner", style:"text-decoration:none" %>
            </div>
            <% end %>
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card-company-type">

          <div class="card_image">
            <%= image_tag "Hacker.svg", alt: "startup" %>
          </div>

          <div class="card_content">
            <h2 class="card_heading"><h3 class="highlight">Startups</h3></h2>
            <p>Les startups connaissant une croissance forte font face à différents challenges comme les recrutements, le développement du business et toutes les autres tâches opérationnelles du quotidien. L'analyse de leurs besoins en immobilier ainsi que la recherche des espaces de travail idoines ajoutent à cette charge de travail. Prendre une décision quant à s'installer dans un espace de <strong>Coworking</strong> ou prendre un bail classique est très stratégique et peut avoir des conséquences financières et logistiques lourdes.</p>
            <%= link_to new_demand_path, method: :get, class: 'form-search' do %>
            <div class="flexbox">
              <%= submit_tag "TROUVER UN ESPACE FLEXIBLE", class: "btn btn-primary btn-banner", style:"text-decoration:none" %>
            </div>
            <% end %>
          </div>
        </div>
      </li>

      <li class="cards_item">
        <div class="card-company-type">

          <div class="card_image">
            <%= image_tag "Boss-2.svg", alt: "startup" %>
          </div>

          <div class="card_content">
            <h2 class="card_heading"><h3 class="highlight">Grands groupes</h3></h2>
            <p>La donne change et les grandes entreprises l'ont bien compris. Face à la mutation des modes de travail (<strong>Coworking</strong>, <strong>bureaux partagés</strong>), au besoin d'attirer et de retenir les talents (en prenant en compte les comportements des nouvelles générations) et de stimuler l'innovation de leurs collaborateurs, elles font de plus en plus le choix d'installer certaines équipes dans des espaces de <strong>Coworking</strong>.</p>
            <%= link_to new_demand_path, method: :get, class: 'form-search' do %>
            <div class="flexbox">
              <%= submit_tag "TROUVER UN ESPACE STIMULANT", class: "btn btn-primary btn-banner", style:"text-decoration:none" %>
            </div>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
