<div id="carousel-example-generic" class="carousel slide carousel-top-link center-block" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target=".carousel slide carousel-top-link" data-slide-to="0" class="active"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="1"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="2"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="3"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="4"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="5"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="6"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="7"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="8"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="9"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="10"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= cl_image_tag @coworking.photos[0].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% if @coworking.photos.count > 1 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[1].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 2 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[2].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 3 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[3].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 4 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[4].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 5 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[5].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 6 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[6].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 7 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[7].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 8 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[8].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 9 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[9].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 10 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[10].path, width: 600, crop: :scale, class: "img-responsive center-block" %>
    </div>
    <% end %>
  </div>
  <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
