<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="form-coworking-new">
        <h1>Modifiez votre annonce</h1>
        <h2>Informations générales</h2>
        <%= simple_form_for(@coworking) do |f| %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :title, label: "Titre de l'annonce", placeholder: "Coworking Paris 75003", hint: "Nous vous recommandons un titre court décrivant au mieux votre espace" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :name, label: "Nom de l'espace", placeholder: "Votre marque" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :address, label: "Adresse", placeholder: "31 rue Sentier 75002 Paris" %>
          </div>
          <div class="col-xs-3">
            <%= f.input :city, label: "Ville", placeholder: "Paris" %>
          </div>
          <div class="col-xs-3">
            <%= f.input :zip_code, label: "Zip", placeholder: "75002" %>
          </div>
          <%= f.hint "Pour le respect de vos informations, certaines données ne seront visibles qu'aux utilisateurs inscrits et confirmés " %>
        </div>
        <h2>Tarifications</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3">
            <%= f.input :price_per_month, label: "Par mois", placeholder: "5000€" %>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <%= f.input :price_per_workstation_per_month, label: "Au poste/mois", placeholder: "300€" %>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <%= f.input :price_per_workstation_per_day, label: "Au poste/jour", placeholder: "25€" %>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <%= f.input :price_per_workstation_per_hour, label: "Au poste/heure", placeholder: "5€" %>
          </div>
          <%= f.hint "Les prix seront affichés selon la prestation choisie par le locataire" %>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :surface, label: "Surface", placeholder: "2000", hint: "Nous vous recommandons d'indiquer la surface totale de votre espace" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :workstation_number, label: "Nombre de postes", placeholder: "250", hint: "Nous vous recommandons d'indiquer le nombre total de postes de travail installés" %>
          </div>
        </div>
        <h2>Vous êtes <em>(choix multiples)</em></h2>
            <div class="form-group">
              <input type="hidden" name="coworking[landlord_ids][]" value="">
              <div class="checkbox-choices">
                <% Landlord.all.each do |landlord| %>
                  <input type="checkbox" class="hidden" value="<%= landlord.id %>" name="coworking[landlord_ids][]" id="coworking_landlord_ids_<%= landlord.id %>">
                  <label class="checkbox-choice" for="coworking_landlord_ids_<%= landlord.id %>">
                    <%= landlord.name %>
                  </label>
                <% end %>
               </div>
            </div>
        <h2>Type d'espace <em>(choix multiples)</em></h2>
            <div class="form-group">
              <input type="hidden" name="coworking[type_ids][]" value="">
              <div class="checkbox-choices">
                <% Type.all.each do |type| %>
                  <input type="checkbox" class="hidden" value="<%= type.id %>" name="coworking[type_ids][]" id="coworking_type_ids_<%= type.id %>">
                  <label class="checkbox-choice" for="coworking_type_ids_<%= type.id %>">
                    <%= type.name %>
                  </label>
                <% end %>
               </div>
            </div>
        <h2>Type de contrats <em>(choix multiples)</em></h2>
            <div class="form-group">
              <input type="hidden" name="coworking[contract_ids][]" value="">
              <div class="checkbox-choices">
                <% Contract.all.each do |contract| %>
                  <input type="checkbox" class="hidden" value="<%= contract.id %>" name="coworking[contract_ids][]" id="coworking_contract_ids_<%= contract.id %>">
                  <label class="checkbox-choice" for="coworking_contract_ids_<%= contract.id %>">
                    <%= contract.name %>
                  </label>
                <% end %>
               </div>
            </div>
        <h2>Equipements et services <em>(choix multiples)</em></h2>
            <div class="form-group">
              <input type="hidden" name="coworking[category_ids][]" value="">
              <div class="checkbox-choices">
                <% Category.all.each do |category| %>
                  <input type="checkbox" class="hidden" value="<%= category.id %>" name="coworking[category_ids][]" id="coworking_category_ids_<%= category.id %>">

                  <label class="checkbox-choice" for="coworking_category_ids_<%= category.id %>">
                    <%= category.name %>
                  </label>
                <% end %>
               </div>
            </div>
        <h2>Description de l'espace</h2>
        <h2>Description de l'espace</h2>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :description, as: :text, :input_html => {:rows => 10}, label: "Détails", placeholder: "Entièrement rénové avec une belle hauteur sous plafond...", hint: "Vous pouvez préciser d'autres services s'ils ne figurent pas dans les choix proposés. Nous vous conseillons de prendre le temps de décrire vos services. Vous pouvez faire la différence :)" %>
            </div>
          </div>
        <h2>Offres spéciales</h2>
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :special_offer, as: :text, :input_html => {:rows => 5}, label: "Détails", placeholder: "1 mois offert pour toute réservation de plus de 6 mois...", hint: "Une offre spéciale peut être une réduction sur une durée particulière. Cette ligne permet d'augmenter votre taux d'acquisition de nouveaux clients. Il vous sera possible de modifier cette offre en répondant à la demande de devis" %>
          </div>
        </div>
        <h2>Photos</h2>
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :photos, label: "Téléchargez jusqu'à 6 photos", as: :attachinary %>
          </div>
        </div>
        <%= f.submit "Mettre à jour et publier mon espace", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>





