 <%= render 'carousel_show' %>
 <div class="container-general-infos">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="box-infos-price">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-brief">Demander un devis</button>
        <!-- Modal -->
        <%= render 'briefs/new_brief' %>
        <div class="row">
          <div class="col-xs-12">
            <h3 class="highlight-price">Tarifs</h3>
            <% if @coworking.price_per_month? %>
            <h2><%= number_with_delimiter(@coworking.price_per_month) %><em> €/mois</em></h2>
            <% else %>
            <% end %>
            <% if @coworking.price_per_workstation_per_month? %>
            <h2><%= number_with_delimiter(@coworking.price_per_workstation_per_month) %><em> €/mois/poste</em></h2>
            <% end %>
            <% if @coworking.price_per_workstation_per_day? %>
            <h2><%= number_with_delimiter(@coworking.price_per_workstation_per_day) %><em> €/jour/poste</em></h2>
            <% end %>
            <% if @coworking.price_per_workstation_per_hour? %>
            <h2><%= number_with_delimiter(@coworking.price_per_workstation_per_hour) %><em> €/heure/poste</em></h2>
            <% end %>
            <i>Dernière mise à jour le <%= @coworking.updated_at.strftime("%-d-%-m-%Y") %></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-6">
      <div class="special-offer">
        <% if @coworking.special_offer.blank?%>
        <% else %>
        <h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Offre exceptionnelle</h4>
        <p><%= @coworking.special_offer %></p>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
      <div class="box-infos">
        <h1 class="highlight-coworking-show"><%= @coworking.title %></h1>
        <ul class="list-inline">
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @coworking.address %></li>
          <li><i class="fa fa-building" aria-hidden="true"></i> <%= @coworking.surface %> m²</li>
          <li><i class="fa fa-desktop" aria-hidden="true"></i> <%= @coworking.workstation_number %> postes de travail</li>
        </ul>
        <h3>Description</h3>
        <p><%= @coworking.description %></p>
        <h3>Le lieu qui vous accueille</h3>
        <div class="box-infos-contracts">
          <div class="row">
            <% @coworking.landlords.each do |landlord| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <ul>
                <li>
                  <%= landlord.name %>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
        <h3>Type d'espace</h3>
        <div class="box-infos-contracts">
          <div class="row">
            <% @coworking.types.each do |type| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <ul>
                <li>
                  <%= type.name %>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
        <h3>Conditions de location proposées</h3>
        <div class="box-infos-contracts">
          <div class="row">
            <% @coworking.contracts.each do |contract| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <ul>
                <li>
                  <%= contract.name %>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
        <h3>Equipements et Services</h3>
        <div class="box-infos-equipements">
          <div class="row">
            <% @coworking.categories.each do |category| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <ul>
                <li>
                  <%= image_tag(category.icon, size: "30x30") %> <%= category.name %>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
        <h3>Localisation</h3>
        <div id="map" style="width: 100%; height: 300px;"></div>
        <div>
          <ul class="list-inline">
            <li>
              <div>
                <% if policy(@coworking).edit? %>
                <%= link_to edit_coworking_path(@coworking), method: :get, class: 'form-search-demands' do %>
                <%= submit_tag "MODIFIER", class: "btn btn-primary btn-recall-demands", style:"text-decoration:none" %>
                <% end %>
                <% end %>
              </div>
            </li>
            <li>
              <div>
                <% if policy(@coworking).destroy? %>
                <%= link_to coworking_path(@coworking), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer votre annonce ?"}, class: 'form-search-demands' do %>

                <%= submit_tag "SUPPRIMER", class: "btn btn-primary btn-recall-demands-delete", style:"text-decoration:none" %>

                <% end %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
</script>
<% end %>



