<!-- Carousel image up to 6 add condition if more images -->
<div id="carousel-example-generic" class="carousel slide carousel-top-link center-block" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target=".carousel slide carousel-top-link" data-slide-to="0" class="active"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="1"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="2"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="3"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="4"></li>
    <li data-target=".carousel slide carousel-top-link" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= cl_image_tag @coworking.photos[0].path, aspect_ratio: 4, crop: :crop, class: "img-responsive center-block" %>
    </div>
    <div class="item">
      <%= cl_image_tag @coworking.photos[1].path, aspect_ratio: 4, crop: :crop, class: "img-responsive center-block" %>
    </div>
    <% if @coworking.photos.count > 2 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[2].path, aspect_ratio: 4, crop: :crop, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 3 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[3].path, aspect_ratio: 4, crop: :crop, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 4 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[4].path, aspect_ratio: 4, crop: :crop, class: "img-responsive center-block" %>
    </div>
    <% end %>
    <% if @coworking.photos.count > 5 %>
    <div class="item">
      <%= cl_image_tag @coworking.photos[5].path, aspect_ratio: 4, crop: :crop, class: "img-responsive center-block" %>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Content of the offer -->

<div class="container-general-infos">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="box-infos-price">
        <h2 class="highlight"><%= humanized_money_with_symbol(@coworking.price_per_month) %> /mois</h2>
  <%= form_tag(new_user_session_path, method: :get, class: 'form-search-coworking-show') do %>
  <div class="flexbox">
    <%= submit_tag "Demander un devis", class: "btn btn-primary btn-devis", style:"text-decoration:none" %>
  </div>
  <% end %>
  <i>Dernière mise à jour <%= @coworking.updated_at %></i>
  <h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Offre spéciale</h4>
  <% if  @coworking.special_offer == ""%>
  <p>Il n'y a pas d'offres en ce moment mais vous pouvez créer un compte pour être informé de toutes les offres à venir</p>
  <% else %>
  <p><%= @coworking.special_offer %></p>
  <% end %>
</div>
</div>
<div class="col-xs-12 col-sm-8 col-md-9">
  <div class="box-infos">
    <h1 class="highlight-coworking-show"><%= @coworking.title %></h1>
    <ul class="list-inline">
      <li><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @coworking.address %> - <%= @coworking.zip_code %></li>
      <li><i class="fa fa-building" aria-hidden="true"></i> <%= @coworking.surface %> m²</li>
      <li><i class="fa fa-desktop" aria-hidden="true"></i> <%= @coworking.workstation_number %> postes de travail</li>
    </ul>
    <h3>Description</h3>
    <p><%= @coworking.description %></p>
      <h3>Le lieu qui vous accueille</h3>
    <div class="box-infos-contracts">
      <div class="row">
      <% @coworking.landlords.each do |landlord| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <ul>
              <li>
                <%= landlord.name %>
              </li>
            </ul>
          </div>
      <% end %>
        </div>
      </div>
      <h3>Type d'espace</h3>
    <div class="box-infos-contracts">
      <div class="row">
      <% @coworking.types.each do |type| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <ul>
              <li>
                <%= type.name %>
              </li>
            </ul>
          </div>
      <% end %>
        </div>
      </div>
      <h3>Conditions de location proposées</h3>
    <div class="box-infos-contracts">
      <div class="row">
      <% @coworking.contracts.each do |contract| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <ul>
              <li>
                <%= contract.name %>
              </li>
            </ul>
          </div>
      <% end %>
        </div>
      </div>
    <h3>Equipements et Services</h3>
  <div class="box-infos-equipements">
    <div class="row">
    <% @coworking.categories.each do |category| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <ul>
            <li>
              <%= image_tag(category.icon, size: "30x30") %> <%= category.name %>
            </li>
          </ul>
        </div>
    <% end %>
      </div>
    </div>
    <h3>Localisation</h3>
    <div id="map" style="width: 100%; height: 300px;"></div>
    <div>
      <ul class="list-inline">
        <li>
          <div>
            <% if policy(@coworking).edit? %>
            <%= link_to edit_coworking_path(@coworking), method: :get, class: 'form-search-demands' do %>
            <%= submit_tag "MODIFIER", class: "btn btn-primary btn-recall-demands", style:"text-decoration:none" %>
            <% end %>
            <% end %>
          </div>
        </li>
        <li>
          <div>
            <% if policy(@coworking).destroy? %>
            <%= link_to coworking_path(@coworking), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer votre annonce ?"}, class: 'form-search-demands' do %>

            <%= submit_tag "SUPPRIMER", class: "btn btn-primary btn-recall-demands-delete", style:"text-decoration:none" %>

            <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>



<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
</script>
<% end %>



