<% if current_user.briefs.blank? %>
<div class="wrapper-pages">
  <div class="briefs-background-image" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 0%, rgba(12, 15, 15, 0.5) 0%), url('<%= image_path('parisjungle2.jpg')%>');">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
          <div class="brand-briefs">
            <h1>MES <br> DEVIS</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <div class="no-briefs-content">
          <h1>Vous n'avez pas encore fait de demande de devis</h1>
          <h2>Accédez à toutes nos offres en suivant le lien ci-dessous</h2>
        </div>
        <div class="btn-no-brief">
          <%= link_to coworkings_path, method: :get, class: 'form-search' do %>
          <div class="flexbox">
            <%= submit_tag "TROUVEZ LES BUREAUX DE MES RÊVES", class: "btn btn-primary btn-banner", style:"text-decoration:none" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="briefs-background-image" style="background-image: linear-gradient(-225deg, rgba(145, 136, 154, 0.18) 0%, rgba(12, 15, 15, 0.5) 0%), url('<%= image_path('parisjungle2.jpg')%>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <div class="brand-briefs">
          <h1>MES <br> DEVIS</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="brief-user-infos">
        <%# avatar_url = current_user.facebook_picture_url || "http://placehold.it/50x50" %>
        <%#= image_tag avatar_url, class: "briefs-picture" %>
        <h2><%#= current_user.first_name %> <%= current_user.last_name %></h2>
        <p><%#= current_user.email %></p>
      </div>
    </div>
  </div>
</div> -->
<% current_user.briefs.each do |brief| %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="briefs-content">
        <h1><%= brief.coworking.name %></h1>
        <i>Dernière mise à jour le <%= brief.updated_at.strftime("%-d-%-m-%Y") %></i>
        <ul>
          <% unless brief.coworking.contracts.blank? %>
          <h2>Type de contrat</h2>
          <% brief.coworking.contracts.each do |contract| %>
          <div class="row">
            <div class="col-xs-12">
              <ul>
                <li>
                 <strong><%= contract.name %></strong>
               </li>
             </ul>
           </div>
           <% end %>
         </div>
         <% end %>
         <h2>Critères de recherche</h2>
         <div class="row">
          <div class="col-xs-12">
            <p>Surface : <strong><%= brief.surface %></strong><em> m² SUBL</em></p>
            <p>Nombre de postes de travail : <strong><%= brief.workstation_number %></strong></p>
            <p>Nombre de salles de réunions : <strong><%= brief.meeting_room_number %></strong></p>
            <% unless brief.parking_number.blank? %>
            <p>Nombre de parkings : <strong><%= brief.parking_number %></strong></p>
            <% end %>
          </div>
        </div>
        <% unless brief.surfaces.blank? %>
        <h2>Type d'espace</h2>
        <% brief.coworking.surfaces.each do |surface| %>
        <div class="row">
          <div class="col-xs-12">
            <ul>
              <li>
                <strong> <%= surface.name %></strong> - <em><%= surface.space %></em>
              </li>
            </ul>
          </div>
        </div>
        <% end %>
        <% end %>
        <h2>Agenda</h2>
        <div class="row">
          <div class="col-xs-12">
            <p><strong><%= brief.move_in_date %></strong></p>
          </div>
        </div>
        <% unless brief.other_spec.blank? %>
        <h2>Besoins spécifiques</h2>
        <p><%= brief.other_spec %></p>
        <% end %>
        <div>
          <ul class="list-inline">
            <li>
              <div>
                <%= link_to edit_brief_path(brief), method: :get, class: 'form-search-briefs' do %>
                <%= submit_tag "MODIFIER", class: "btn btn-primary btn-recall-briefs", style:"text-decoration:none" %>
                <% end %>
              </div>
            </li>
            <li>
              <div>
                <%= link_to brief_path(brief), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer votre recherche ?"}, class: 'form-search-briefs' do %>
                <%= submit_tag "SUPPRIMER", class: "btn btn-primary btn-recall-briefs-delete", style:"text-decoration:none" %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
<% end %>


