<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108128357-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108128357-1');
  </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="keywords" content="coworking, startup, startups, immobilier, immobilier d'entreprises, bureaux, bureau, conseil, négociation, transaction, entreprises">
    <title><%= meta_title %></title>
        <meta name="description" content="<%= meta_description %>">

        <!-- Facebook Open Graph data -->
        <meta property="og:title" content="<%= meta_title %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= request.original_url %>" />
        <meta property="og:image" content="<%= meta_image %>" />
        <meta property="og:description" content="<%= meta_description %>" />
        <meta property="og:site_name" content="<%= meta_title %>" />


        <!-- Linkedin Open Graph data -->
        <meta property="og:title" content="<%= meta_title %>" />
        <meta property="og:description" content="<%= meta_description %>" />
        <meta property="og:url" content="<%= request.original_url %>" />
        <meta property="og:image" content="<%= meta_image %>" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
        <meta name="twitter:title" content="<%= meta_title %>">
        <meta name="twitter:description" content="<%= meta_description %>">
        <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
        <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag "favicon-32x32.png" %>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="4c4f2280-79b9-4fc0-bff0-3b6650512ff9";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <div id="content-wrapper">
    <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%#= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
